<div class="credential-desc" id="credential-status">
    <div class="credential-header overflow">
        <span class="credential-header-icon left"></span>
        <span class="credential-header-text left">验证状态</span>
        <span class="credential-header-line left"></span>
    </div>
    <ul class="credential-desc-list">
        <% if(credential.status==0){%>
        <li class="credential-desc-example">
            <div class="credential-unpass-div">
                <img class="creden-pic" src="module/credential/style/images/big-expired.png" />
                <span class="credential-status">未认证</span>
            </div>
        </li>
        <li class="credential-desc-example">
            <span class="credential-content-line left"></span>
        </li>
        <li class="credential-desc-example">
            <span class="credential-desc-num left">介绍：</span>
            <span class="credential-desc-words left">
                <p>更安全、更严格的企业真实性认证、是为了更好的保护企业及用户的合法权益企业认证通过后，您具备售卖商品、提供该服务的高级能力</p>
            </span>
        </li>
        <li class="credential-desc-example">
            <span class="credential-desc-num left credential-final">认证有效期：</span>
            <span class="credential-desc-words left credential-final">
                <p>一年，有效期最后两个月可申请年审即可续期</p>
            </span>
            <span class="credential-content-line left"></span>
            <span class="credential-apply-btn">
                <a href="#credentialFirst">现在申请</a>
            </span>
            <div style="height:80px"></div>
        </li>
        <% }if(credential.status==1){%>
        <li class="credential-desc-example">
            <div class="credential-unpass-div">
            <img class="creden-pic" src="module/credential/style/images/big-pending.png" />
            <span class="credential-status">审核中</span>
            </div>
        </li>
        <li class="credential-desc-example">
            <span class="credential-content-line left"></span>
        </li>
        <li class="credential-desc-example">
            <span class="credential-desc-num left">介绍：</span>
            <span class="credential-desc-words left">
                <p>更安全、更严格的企业真实性认证、是为了更好的保护企业及用户的合法权益企业认证通过后，您具备售卖商品、提供该服务的高级能力</p>
            </span>
        </li>
        <li class="credential-desc-example">
            <span class="credential-desc-num left credential-final">认证有效期：</span>
            <span class="credential-desc-words left credential-final">
                <p>一年，有效期最后两个月可申请年审即可续期</p>
            </span>
            <span class="credential-content-line left"></span>
            <div style="height:220px"></div>
        </li>
        <li class="credential-desc-example">
            <span></span>
        </li>
        <% }if(credential.status==3){%>
        <li class="credential-desc-example">
            <div class="credential-unpass-div">
                <span class="credential-unpass-icon">
                    <img class="creden-pic" src="module/credential/style/images/big-failed.png" />
                </span>
                <span class="credential-status">未通过原因：
                    <%=credential.comment%>
                </span>
            </div>
        </li>
        <li class="credential-desc-example">
            <span class="credential-content-line left"></span>
        </li>
        <li class="credential-desc-example">
            <span class="credential-desc-num left">介绍：</span>
            <span class="credential-desc-words left">
                <p>更安全、更严格的企业真实性认证、是为了更好的保护企业及用户的合法权益企业认证通过后，您具备售卖商品、提供该服务的高级能力</p>
            </span>
        </li>
        <li class="credential-desc-example">
            <span class="credential-desc-num left credential-final">认证有效期：</span>
            <span class="credential-desc-words left credential-final">
                <p>一年，有效期最后两个月可申请年审即可续期</p>
            </span>
            <span class="credential-content-line left"></span>
            <span class="credential-apply-btn">
                <a href="#credentialSecond?key=info">重新申请</a>
            </span>
            <div style="height:80px"></div>
        </li>
        <%}if(credential.status==2){%>
        <li class="credential-desc-example">
            <div class="credential-unpass-div">
            <img class="creden-pic" src="module/credential/style/images/big-pass.png" />
            <span class="credential-status">已认证</span>
            </div>
        </li>
        <li class="credential-desc-example">
            <span class="credential-content-line left"></span>
        </li>
        <li class="credential-desc-example">
            <span class="credential-desc-num left">介绍：</span>
            <span class="credential-desc-words left">
                <p>更安全、更严格的企业真实性认证、是为了更好的保护企业及用户的合法权益企业认证通过后，您具备售卖商品、提供该服务的高级能力</p>
            </span>
        </li>
        <li class="credential-desc-example">
            <span class="credential-desc-num left credential-final">认证有效期：</span>
            <span class="credential-desc-words left credential-final">
                <p>一年，有效期最后两个月可申请年审即可续期</p>
            </span>
            <span class="credential-content-line left"></span>
            <div style="height:220px"></div>
        </li>
        <%}%>
    </ul>
</div>