.roles-list-table{border-collapse: collapse;width: 100%;}
.roles-list-table tr{border: 1px solid #d7d7d7;}
.roles-list-table th{background-color: #f9fafc;color: #999;}
.roles-list-table td{color: #333;}
.roles-list-table td,.roles-list-table th{font-size:12px;height: 38px;text-align: left;vertical-align: middle;padding-left: 10px;}
.roles-td-id{width: 15%;}
.roles-td-name{width: 40%;}
.roles-td-time{width: 25%;}
.roles-td-control{width: 15%;}
.control-link{color: #008cd0;margin-right: 15px;}
.member-btn-link{width: 100px;text-align: center;height: 30px;line-height: 30px;color: #fff;background-color: #13b5bd;margin-right: 12px;}
.status-select{height: 28px;border: 1px #ccc solid;width: 88px;text-align: left;line-height: 28px;vertical-align: top;margin-right: 12px;font-size: 12px;}
.checkbox-span{font-size: 12px;color: #333;}
.pass-hide{display: none;}
.link-pass{font-size: 12px;}
.table-span-wrap{vertical-align: top;width: 90%;}
.roles-ctrl-table{width: 100%;border-collapse: collapse;}
.roles-ctrl-table tr{border: 1px solid #ccc;}
.roles-ctrl-table th{background-color: #13b5bd;color: #fff;text-align: center;padding:10px;}
.roles-ctrl-table td{color: #333;}
.roles-ctrl-table th,.roles-ctrl-table td{vertical-align: middle;font-size: 12px;border: 1px solid #ccc;}
.roles-ctr-td01{width: 13%;text-align: right;padding:10px;}
.roles-ctr-td01 input[type='checkbox']{margin-left: 5px;vertical-align: middle;}
.roles-ctr-td02{width: 80%;text-align: left;}
.roles-ctr-td02 input[type='checkbox']{vertical-align: middle;}
.role-table-div{word-wrap: break-word;word-break: break-all;}
.role-table-span{width: 17%;margin: 10px 0 10px 10px;}
.roles-ctrl-module{width: 13%;text-align: center;}
.roles-ctrl-fun{width: 15%;text-align: left;padding-left: 10px;}
.roles-ctrl-module input[type='checkbox'],.roles-ctrl-fun input[type='checkbox']{vertical-align: middle;margin-right: 5px;}
.even-tr{background-color: #f2f2f2;}
.back-link{width: 150px;text-align: center;height: 40px;line-height: 40px;background-color: #ccc;color: #fff;margin-left: 25px;font-size: 12px;vertical-align: top;}
.role-info-title{color: #333;font-size: 12px;margin-right: 5px;text-align: right;width: 9%;}
label.error{font-size: 12px;color: #ff5555;margin-left: 5px;padding-left: 25px;background-image:url(../../../style/images/error-icon.png) ;background-repeat: no-repeat;background-position:left center;height: 28px;line-height: 28px;display: inline-block;}