<%= nav %>
<div class="left content content-height">
    <div class="content-wrap statistic-subject">
        <div id="purchase-div">
            <div class="content-nav">
                <div class="symbol-icon01">
                    <span class="symbol-title">供应商交易统计</span>
                </div>
            </div>
            <div class="infomation">
                <div class="matures">
                    <div class="statistic-hospital-top">
                        <ul class="statistic-hospital-ul">
                            <li class="statistic-hospital-li01">
                                <span class="statistic-hospital-tatol">供应商总数：
                                    <span class="statistic-color"><%= d.dto.suppCount %></span>
                                </span>
                                <span class="statistic-hospital-tatol">商品总数：
                                    <span class="statistic-color"><%= d.dto.goodsCount %></span>
                                </span>
                            </li>
                            <li class="statistic-hospital-li02">
                                <span class="statistic-hospital-content">
                                    <div>
                                        <span class="statistic-hospital-title">采购单总金额：</span>
                                        <span class="statistic-hospital-title-next">￥<%= d.dto.purchaseAmount.toFixed(2) %></span>
                                    </div>
                                    <div>
                                        <span class="statistic-hospital-title">采购单总量：</span>
                                        <span class="statistic-hospital-title-next"><%= d.dto.purchaseCount %></span>
                                    </div>
                                </span>
                                <span class="statistic-hospital-content">
                                    <div>
                                        <span class="statistic-hospital-title">竞价单总金额：</span>
                                        <span class="statistic-hospital-title-next">￥<%= d.dto.bidAmount.toFixed(2) %></span>
                                    </div>
                                    <div>
                                        <span class="statistic-hospital-title">竞价单总量：</span>
                                        <span class="statistic-hospital-title-next"><%= d.dto.bidCount %></span>
                                    </div>
                                </span>
                                <span class="statistic-hospital-content">
                                    <div>
                                        <span class="statistic-hospital-title">订单总金额：</span>
                                        <span class="statistic-hospital-title-next">￥<%= d.dto.orderAmount.toFixed(2) %></span>
                                    </div>
                                    <div>
                                        <span class="statistic-hospital-title">订单总量：</span>
                                        <span class="statistic-hospital-title-next"><%= d.dto.orderCount %></span>
                                    </div>
                                </span>
                                <span class="statistic-hospital-content" style="border: none;">
                                    <div>
                                        <span class="statistic-hospital-title">结算单总金额：</span>
                                        <span class="statistic-hospital-title-next">￥<%= d.dto.settleAmount.toFixed(2) %></span>
                                    </div>
                                    <div>
                                        <span class="statistic-hospital-title">结算单总量：</span>
                                        <span class="statistic-hospital-title-next"><%= d.dto.settleCount %></span>
                                    </div>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="matures">
                    <div class="search-div right">
                        <span class="apply-time-span">
                            <span class="apply-time-title">查询时间：</span>
                            <input class="statistic-date" type="text" placeholder="<%=common.getOneMonthDate()%>" id="startDate" value="<%=common.getOneMonthDate()%>" />
                            <span class="statistic-line">-</span>
                            <input class="statistic-date statistic-end-date" style="margin-right: 10px;" type="text" placeholder="<%=common.getDate()%>" id="endDate" value="<%=common.getDate()%>"/>
                        </span>
                        <input class="search-input" id="search-value" type="text" placeholder="供应商名称" /><a class="search-btn" id="search-btn" href="javascript:void(0)"></a>
                    </div>
                </div>
                <div class="matures" style="overflow: visible;">
                    <table class="list-table">
                        <thead>
                            <tr>
                                <th class="width-one">供应商名称</th>
                                <th class="width-two">订单数量</th>
                                <th class="width-three">订单金额</th>
                                <th class="width-four">订单金额占比</th>
                                <th class="width-five">结算金额</th>
                                <th class="width-six">采购金额</th>
                                <th class="width-nine">竞价金额</th>
                            </tr>
                        </thead>
                        <tbody id="list">
                            <% if(flag==true){_.each(entities,function(E){%>
                            <tr>
                                <td class="width-one"><a href="#sDetail/<%= E.id %>"><%= E.name %></a></td>
                                <td class="width-two"><%= E.orderCount %></td>
                                <td class="width-three">￥<%= E.orderAmount.toFixed(2) %></td>
                                <td class="width-four"><%= (E.proportion*100).toFixed(2) %>%</td>
                                <td class="width-five">￥<%= E.settleAmount.toFixed(2) %></td>
                                <td class="width-six">￥<%= E.purchaseAmount.toFixed(2) %></td>
                                <td class="width-nine">￥<%= E.bidAmount.toFixed(2) %></td>
                            </tr>
                            <%});}else {%>
                            <tr>
                                <td class="empty-td" colspan="7">暂无数据！</td>
                            </tr>       
                            <%} %>
                        </tbody>
                    </table>
                </div>
                <div class="matures">
                    <div class="page">
                        <div class="right">
                            <a class="endpoint" href="javascript:void(0)">尾页</a>
                        </div>
                        <div class="right" id="pagination">

                        </div>
                        <div class="right">
                            <a class="endpoint" href="javascript:void(0)">首页</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>