/*资质认证页面*/
.credential-desc{border:solid #ccc 1px;zoom:1;}
.credential-header{margin-top:15px;}
.credential-header-icon{width:16px;height:16px;background-color:#008cd0;margin-right:15px;margin-top:3px;}
.credential-header-text{color:#008cd0;margin-right:15px;font-size:16px;}
.credential-header-line,.credential-content-line{border-top:solid #008cd0 1px;margin-top:10px;width:814px;}
.credential-content-line{border-top:1px solid #ccc;margin-left:95px;}
.credential-desc .credential-header-line{width:845px;}
.credential-desc .credential-desc-list{margin:20px 20px 0 0;line-height:28px;}
.credential-desc .credential-desc-list li{overflow:hidden;}
.credential-unpass-div{width: 795px;margin: auto;padding-left: 85px;}
.credential-desc .credential-desc-num{width:120px;text-align:right;/*margin-right:20px;*/color:#999;}
.credential-desc .credential-desc-words{color:#333;width:790px;}
.credential-desc .credential-final{margin:30px 0 30px;}
.credential-desc .credential-desc-example{margin:30px 0 10px;}
.credential-desc .credential-desc-example .credential-pic{position:relative;left:50%;margin-left:-271px;}
.credential-desc .credential-desc-example .creden-pic{/*margin-left:160px;*/}
.credential-unpass-icon{display: inline-block;vertical-align: top;}
.credential-desc .credential-desc-example .credential-status{font-size:22px;margin-left:20px;max-width: 720px;word-break: break-all;word-wrap: break-word;display: inline-block;color: #333;max-height:80px;text-overflow:ellipsis;overflow:hidden;}
.credential-desc .credential-desc-example input:focus,.credential-desc .credential-desc-example select:focus{border-color: #008cd0;}
.credential-apply-btn{text-align:center;display:inline-block;width:160px;height:40px;line-height:40px;background-color:#008cd0;border-radius:5px;margin-top:30px;margin-left:160px;cursor:pointer;}
.credential-apply-btn a{color:#ffffff;}
/* 资质认证协议 */
.credential-protocal{width:90%;margin-left:5%;border:1px solid #ccc;height:500px;overflow-y:scroll;}
.credential-protocal .credential-protocal-title{font-size:22px;font-weight:700;margin-top:20px;text-align:center;}
.credential-protocal .credential-protocal-content{margin-top:30px;padding:5px 10px;}
.credential-nextstep{width:146px;height:42px;line-height:42px;color:#ffffff;background-color:#008cd0;margin-top:30px;position:relative;left:50%;margin-left:-60px;text-align:center;border-radius:2px;font-size:16px;cursor:pointer;}

/* 个性化多选框 */
.credential-agree{width:100%;}
.credential-checkbox{margin-top:20px;width:18px;height: 18px;box-sizing: border-box;box-shadow: none;background-color:#ccc;border: 1px solid #ccc;border-radius: 1px;cursor:pointer;margin-left:200px;display:inline-block;vertical-align:bottom;}
.credential-agree .active{background-image:url("images/check.png");z-index:2;}
.credential-agree-content{display:inline-block;margin-top:15px;position:relative;top:5px;}
/* 资质认证填写资料 */
.c-credential-header{margin-bottom:35px;}
.c-credential-icon{width:16px;height:16px;background-color:#008cd0;margin-right:15px;}
.c-credential-title{font-size:16px;color:#008cd0;margin-right:15px;position:relative;top:-5px;}
.c-credential-line{width:750px;border-top:solid #008cd0 1px;margin-top:10px;margin-right:15px;}
.c-credential-item{margin-bottom:40px;}
.c-credential-info{line-height:34px;margin-bottom:20px;color:#999;}
.c-credential-info-div{margin-top: 20px;}
.c-credential-info-left{float:left;width:155px;text-align:right;}
.c-credential-info-right{float:left;position:relative;left:10px;}
.c-credential-info-authorize{color:#333;border:solid #ccc 1px;height:30px;width:375px;line-height:30px;padding-left:10px;background:url(images/arrow-down.png) no-repeat 365px center;}
.c-credential-info-authorize-clicked{background-image:url(images/arrow-right.png);}
.c-credential-info-authorize:hover{border-color:#008cd0;}
.clearfix:after{content:"";display:block;clear:both;height:0;}
.clearfix{zoom:1;z-index:2;}
.c-credential-select{line-height:20px;}
.c-credential-long-term{display:inline-block;width:78px;height:22px;text-align:center;line-height:22px;background-color:#008cd0;color:#fff;cursor:pointer;}
.c-credential-info-right input{width:500px;height:32px;line-height:32px;color:#333;border:solid #ccc 1px;padding-left:5px;}
.c-credential-info-right input[type="radio"]{width:16px;height:16px;}
.area{height:32px;line-height:32px;color:#333;border:solid #ccc 1px;padding-left:5px;width: 150px;}
.margin06{margin: 0 25px;}
.c-credential-three{margin-left:10px;vertical-align:top;}
.version-non{margin-left:50px;}
.c-credential-info-right ul{display:none;position:absolute;top:32px;left:0;z-index:10;background-color:#fff;border:solid #008cd0 1px;width:385px;}
.c-credential-info-right ul li{padding-left:10px;line-height:25px;color:#333;}
.c-credential-info-right ul li:hover{background-color:#f2f2f2;}
.c-credential-info-right ul li:active{background-color:#008cd0;color:#fff;}
.c-credential-file-select{display:inline-block;width:100px;height:100px;border:solid 1px #ccc;text-align:center;color:#999;margin-bottom:15px;position:relative;cursor:pointer;}
.c-credential-plus{font-size:48px;margin:20px 0 10px;line-height:34px;}
.c-credential-submit{display:inine-block;text-align:center;width:150px;height:38px;line-height:38px;background-color:#008cd0;color:#fff;border-radius:5px;margin-left:165px;}
.c-credential-pre-step{display:inine-block;text-align:center;width:148px;height:36px;line-height:36px;border:solid #008cd0 1px;color:#008cd0;box-shadow:0 0 4px;border-radius:5px;margin-left:10px;}
.c-credential-upload-info{display:inline-block;vertical-align:top;margin-left:10px;}
/* 资质认证完成（第三步） */
.credential-desc .credential-desc-example .credential-success{margin-left:45%;}
.credential-apply-info{font-size:18px;font-weight:500;text-align:center;}
.credential-desc-example .other{font-size:12px;}
.credential-desc .credential-desc-example .other{color:#9e9fa1;}
.credential-apply-successbtn{text-align:center;display:inline-block;width:150px;height:35px;line-height:35px;border-radius:5px;margin-top:30px;margin-left:43%;cursor:pointer;background:#008cd0 url("../../../style/images/icon02.png") no-repeat -465px -51px;}
.credential-apply-successbtn a{color:#ffffff;font-size:16px;}
/*图片删除*/
.credential-close-photo{border:solid 1px ;display:inline-block;width:20px;height:20px;position:absolute;top:0;right:0px;background-color:#fff;color:#008cd0;text-align:center;line-height:20px;}
.credential-close-photo:hover{background-color:#008cd0;color:#fff;}