<div class="personal-wrap">
    <div class="left personal-header-wrap">
        <span class="personal-icon01"></span>
        <span class="personal-header-title">供应商信息</span>
    </div>
    <div class="left borderbottom"></div>
    <div class="clear personal-content">
        <div class="personal">
            <span class="personal-title">注册邮箱</span>
            <span class="personal-info"><%= email %></span>
        </div>
        <div class="personal">
            <span class="personal-title">真实姓名</span>
            <span class="personal-info"><%= name %></span>
        </div>
        <div class="personal">
            <span class="personal-title">手机号码</span>
            <span class="personal-info"><%= mobile %></span>
        </div>
        <div class="personal">
            <span class="personal-title">服务电话</span>
            <span class="personal-info"><%= telephone %></span>
        </div>
        <div class="personal">
            <span class="personal-title">QQ号码</span>
            <span class="personal-info"><%= qq %></span>
        </div>
        <div class="personal">
            <span class="personal-title">联系地址</span>
            <span class="personal-info"><%= province %><%= city %><%= county %><%= address %></span>
        </div>
        <div class="personal">
            <span class="personal-title"></span>
            <span class="personal-edit-btn">
                <a href="#personaledit?key=editPerson">修&nbsp;&nbsp;改</a>
            </span>
        </div>
    </div>
</div>