<% if(flag=="checker") {%>
<ul class="scan-content-ul">
    <li class="scan-content-title" data-supp="<%= supplierName %>">
        结算单号:
        <%= banlanceNo %>&nbsp;&nbsp;
        <%= supplierName %> （
        <span class="scan-num">
            <%= orders.length %>
        </span>）
        <span class="scan-triangle-icon right">&nbsp;</span>
        <span class="scan-remove-wrap right">
            <a href="javascript:void(0)" class="scan-remove" data-id="<%= banlanceNo %>" data-flag="checker">移除</a>
        </span>
    </li>
    <% _.each(orders,function(x){%>
    <li class="scan-content-body">
        <input type="hidden" value="<%= banlanceNo %>" class="scan-hidden-value" />
        <span class="scan-content-order">
            <%= x.orderNo %>
        </span>
        <span class="scan-content-purchaser">
            <%= x.buyer %>
        </span>
        <span class="scan-content-checker">
            <% if(x.hasOwnProperty('accepter')){%>
            <%= x.accepter %>
            <%} %>
        </span>
        <span class="scan-content-cardnumber">
            <%= x.fundCardNo %>
        </span>
        <span class="scan-content-order-account">￥
            <%= x.orderMoney.toFixed(2) %>
        </span>
        <span class="scan-content-check-account">￥
            <%= x.acceptMoney.toFixed(2) %>
        </span>
        <span class="scan-content-ctr"></span>
    </li>
    <%});%>
</ul>
<%}else if(flag=="invoice"){%>
<div>
    <input type="hidden" value="<%= summaryModel.summaryNo %>" class="scan-hidden-value" />
    <%_.each(summaryModel.statement,function(y){%>
    <ul class="scan-content-ul">
        <li class="scan-content-title">
            结算单号:
            <%= y.banlanceNumber %>&nbsp;&nbsp;
            <%= y.supplierName %> （
            <span class="scan-num">
                <%= y.orderModels.length %>
            </span>）
            <span class="scan-triangle-icon right">&nbsp;</span>
            <span class="scan-remove-wrap right">
                <a href="javascript:void(0)" class="scan-remove" data-flag="invoice" data-id="<%= y.banlanceNumber %>">移除</a>
            </span>
        </li>
        <% _.each(y.orderModels,function(x){%>
        <li class="scan-content-body">
            <span class="scan-content-order">
                <%= x.forderno %>
            </span>
            <span class="scan-content-purchaser">
                <%= x.fbuyername %>
            </span>
            <span class="scan-content-checker">
                <% if(x.hasOwnProperty('checkMan')){%>
                <%= x.checkMan %>
                <%} %>
            </span>
            <span class="scan-content-cardnumber">
                <%_.each(x.projectNumbers,function(z){%>
                <p>
                    <%= z %>
                </p>
                <%})%>
            </span>
            <span class="scan-content-order-account">￥
                <%= x.wholePrice %>
            </span>
            <span class="scan-content-check-account">￥
                <%= x.lastPrice %>
            </span>
            <span class="scan-content-ctr"></span>
        </li>
        <%});%>
    </ul>
    <%});%>
</div>
<%}%>