<% if(fundCards.length){_.each(fundCards,function(F){if(F.status=="禁用"){%>
<tr>
    <td class="card-td-id dis">
        <%= F.cardNo %>
    </td>
    <td class="card-td-name dis">
        <%= F.cardName %>
    </td>
    <td class="card-td-time dis">
        <%= F.time %>
    </td>
    <td class="card-td-status dis">
        <%= F.status %>
    </td>
    <td class="card-td-control dis">
        <a href="javascript:void(0)" class="control-link status-link-event" data-id="<%= F.id %>">启用</a>
        <a href="#addCard?id=<%= F.id %>&key=editCard" class="control-link">编辑</a>
        <a href="javascript:void(0)" class="control-link delete-link" data-id="<%= F.id %>">删除</a>
    </td>
</tr>
<%}else{%>
<tr>
    <td class="card-td-id">
        <%= F.cardNo %>
    </td>
    <td class="card-td-name">
        <%= F.cardName %>
    </td>
    <td class="card-td-time">
        <%= F.time %>
    </td>
    <td class="card-td-status">
        <%= F.status %>
    </td>
    <td class="card-td-control">
        <a href="javascript:void(0)" class="control-link status-link-event" data-id="<%= F.id %>">禁用</a>
        <a href="#addCard?id=<%= F.id %>&key=editCard" class="control-link">编辑</a>
        <a href="javascript:void(0)" class="control-link delete-link" data-id="<%= F.id %>">删除</a>
    </td>
</tr>
<%}});}else{%>
<tr>
    <td class="empty-td" colspan="5">
        没有经费卡！
    </td>
</tr>
<%}%>