<div class="login-bid-chose01">
    <!--竞价中-填写报价start-->
    <div class="bid-info-div03">
        <div class="price-wrap-info01">
            <span class="price-wrap-info-span01">商品名称</span>
            <span class="price-wrap-info-span02">
                <%= name %>
            </span>
        </div>
        <div class="price-wrap-info01">
            <span class="price-wrap-info-span01">商品品牌</span>
            <span class="price-wrap-info-span02">
                <%= brand %>
            </span>
        </div>
        <div class="price-wrap-info01">
            <span class="price-wrap-info-span01">商品编码</span>
            <span class="price-wrap-info-span02">
                <%= sn %>
            </span>
        </div>
        <div class="price-wrap-info01">
            <span class="price-wrap-info-span01">商品单位</span>
            <span class="price-wrap-info-span02">
                <%= unit %>
            </span>
        </div>
        <div class="price-wrap-info01">
            <span class="price-wrap-info-span01">商品销售价</span>
            <span class="price-wrap-info-span02" id="bid-account">
                <%= price %>
            </span>
        </div>
    </div>
</div>
<div class="login-bid-chose01">
    <a href="javascript:void(0)" class="chose-product-link01 style-link01" id="bid-chose-com">更换商品</a>
    <a href="../supplier/index.html#import" class="chose-product-link style-link02">新增商品</a>
</div>
<!--竞价中-填写报价end-->