*{ margin: 0; padding: 0;}
a{ text-decoration: none;display: inline-block;}
span{display: inline-block;}
body{ background-color:#fff; font: 12px/1.5 "Microsoft YaHei",tahoma,arial,"Hiragino Sans GB",宋体,sans-serif; color: #666;}
ul,li{ margin: 0; padding:0;}
em{ font-style: normal;}
ul{ list-style: none;}
img{ border:0;}
input:-webkit-autofill{ -webkit-box-shadow: 0 0 0px 1000px white inset !important;}
button, input, select, textarea {font-family: inherit; font-size: inherit; line-height: inherit;background-color: #fff;outline: none;}
a{outline: none;blr:expression(this.onFocus=this.blur());}
input:focus{ outline: none;}
textarea{resize: none;}
.relative{ position: relative;}
.caret {display: inline-block; width: 0; height: 0;margin-left: 2px;vertical-align: middle;border-top: 4px dashed;border-top: 4px solid\9;border-right: 4px solid transparent;border-left: 4px solid transparent;}
.overflow{ overflow: hidden;}
.left{ float:left;}
.right{ float:right;}
.pd-lf-8{ padding-left:8px;color: #ccc;}
.pd-lf-10{ padding-left:10px;color: #ccc;}
.pd-rg-10{ padding-right:10px;color: #ccc;}
.cm-main{ width: 1198px; margin:auto; }
.cm-main-login{max-width: 1198px;width: 90%; margin:auto;}
.relative{ position: relative;}
.header .header-banner,.bid-header .header-banner{ background-color:#eff2f5; height:30px; color:#7c95ad; line-height: 30px;}
.header a{ color:#333333;}
.header a{font-size:12px;}
.header a:hover,.bid-header a:hover{color: #138cdd;}
.header-main-nav-types a:hover{color:#008cd0;}
.header-nav{ position: relative; z-index:80; background-color: #fff; width:100%; height:40px; border-bottom: 2px solid #199ed8;}
.header-search-main{ padding-top:30px; height:85px; background-color: #fff; width:100%;}
.header-icon{ background: url("images/logo.svg") no-repeat; width: 237px; height: 48px; display: block;}
.header-center{ width: 530px; margin: auto; height:36px;  line-height: 36px;}
.header-search{ width: 490px; border: 1px solid #008cd0;}
.header-search-left{position: relative; float: left; width: 70px; color: #7c95ad; text-align: center; background-color: #f2f2f2;}
.header-search-box{ width: 345px; height: 34px; color:#666; text-indent: 20px; border: none;font-size: 12px;}
.header-search-btn{ width: 73px; color:#fff; background-color: #008cd0; text-align: center;}
.header-search-btn:hover{background-color:#007ebb;}
.header-search-text{ width: 29px; color: #666; line-height: 18px;font-size: 12px;}
.header-search-text:hover{color:#008cd0}
.header-car-btn{ display: block; float: right; margin-right:38px; border: 1px solid #008cd0; color:#008cd0; text-align: center; width: 136px; height: 34px; line-height: 34px;margin-top:26px;}
.header-main-nav{ position: absolute; top: 0px; left:0;}
.header-main-nav-cell,.header-main-hover{ float:left; width: 164px; text-align: center; height: 42px; line-height: 42px; font-size:16px;color: #008cd0;font-weight: bold;}
.header-main-nav-cell:hover,.header-main-hover:hover{ color: #64a727; font-weight: bold; text-decoration: none;font-size: 18px;}
.header-main-nav-select{color: #64a727;font-size: 18px;font-weight: bold; text-decoration: none;}
.header-search-ul li{height: 25px; text-align: left; text-align:center; line-height: 25px;float: left;}
.header-search-ul a{ display: inline-block; color: #008cd0;width: 64px;text-align:center;height: 25px;line-height: 25px;font-size: 12px;}
.header-search-ul .ac-key-a-active{background-color: #008cd0;color: #fff;}
.header-search-ul .ac-key-hover:hover{ background-color: #dFF4FF; color:#008cd0; text-decoration: none;}
.header-search-left:hover .header-search-ul{ display: block;}
.header-search-icon .caret{ position: absolute; right: 7px; top:18px;}
.header-main-nav-cell-01{ position: relative; padding-left:50px;width: 150px; text-align: left; color: #fff; background-color:#1381bc;background-image: url(images/cate-list.png);background-repeat: no-repeat;background-position: 17px center;}
.header-main-nav-cell-01:hover{ text-decoration: none; color:#fff;}
.header-main-nav-cell-01:hover .header-main-nav-sub{ font-weight: normal;}
.header-main-nav-cell-01:hover li{ font-weight: normal;}
.header-nav .header-main-nav-cell-02{color: #fff;background-color: #00a0e9;font-weight: bold;}
.header-main-nav-sub{ display:none; font-size:12px; color:#fff; background-color: #008cd0; position: absolute; top: 42px; left:0; height:360px; width: 200px; z-index: 100;}
.header-main-sub-name{ display: block; color:#fff; text-align: left; height: 36px; line-height: 36px; padding-left:15px;}
.header-main-sub-name:hover{ text-decoration:none; background-color: #61a62c;}
.header-main-nav-types{ display: none; padding:0 25px; position: absolute; top:0; border-right:1px solid #61a62c; border-left:1px solid #61a62c; text-align: left; border-bottom: 1px solid #61a62c; color:#333; left:200px; z-index:100; width: 250px; height: 359px; background-color: rgba(255,255,255,1);}
.header-main-nav-name{ font-size: 12px; display:block; float: left; width: 125px; line-height:59px;height: 59px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;border-bottom:dotted 1px #999}
/*.header .header-main-nav-cell-01:hover .header-main-nav-sub,
.header .header-main-nav-cell-01:hover .header-main-nav-types{ display: block;}*/
.header-main-nav-name a{color:#000;display:inline-block;width:100%;height:100%}
.header-main-nav-name:hover a{color:#008cd0; font-weight:bold}
.header-main-nav-active .header-main-nav-sub{ display: block;}
.header-main-nav-sub .header-main-sub-name{color:#fff;font-size:12px;}
.header-main-nav-active .header-main-sub-name:hover{font-weight:bold}
.header-main-nav-hover .header-main-sub-name:hover{font-weight:bold}
.border-bottom{border-bottom: 1px #199ed8 solid;}
.home-footer{text-align:center;}
.home-footer-01{background-color: #fff; text-align: center;color: #666; line-height:20px;padding: 15px 0;}
.home-footer-01 .footer-span-01{margin-right: 42px;}
.footer-logo{display:inline-block;background-color:#1a8ed0;width:100px;height:30px;line-height:30px;vertical-align:middle;border-radius:5px;position:relative;left:10px;}
.footer-logo a{color:#fff;text-decoration:none;}
.footer-logo img{padding-top:5px;}
.footer-logo span{position:relative;bottom:3px;}
/*竞价频道*/
.phone-h1{color: #00a0e9;font-size: 22px;font-weight: normal;}

.loading-gif{position: fixed;left:0;right:0;top: 0;bottom: 0;background-color: rgba(0,0,0,.1);z-index: 9999;}
.loading-gif img{width: 40px;height: 40px;margin: auto;display: block;margin-top: 20%;}
iframe{border:none;height:230px;}
