<!--<%=nav%>-->
<div class="home-main">
    <div class="cm-main">
        <div class="provider-wrap">
            <div  style="padding:60px 0 132px;">
                <div class="success-content-inner" style="height: 331px;">
                    <div class="success-content-01">
                        <div class="success-con" style="height: 141px;display: table;">
                            <p class="provider-success-p1" style="height: 140px;vertical-align:middle;text-align: center;display: table-cell;"><%= department %>邀请！</p>
                        </div>
                        <div class="success-con-01">
                            <div class="success-con-inner">
                                <div>尊敬的
                                     <a href="javascript:void(0);" id="login-email"></a>，<%= department %>请您加入成为其中一员，请您完成注册
                                    <div style="text-align: center; margin-top: 32px;"><a class="login-once" href="#purchaser?account=<%= email %>&orgName=<%= org %>&orgId=<%= orgId %>&depName=<%= department %>&depId=<%= departmentId %>&person=<%= person %>&token=<%= token %>">注册</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>