.invoice{border:solid 1px #ccc;padding:10px 25px}
.invoice-header{border-bottom:dotted 1px #ccc;height:80px}
.invoice-header .invoice-search{margin-top:15px;position:relative}
.invoice-header .invoice-search-match{display:none;position:absolute;top:33px;left: 0;border:solid 1px #e4e4e4;width:223px;line-height:30px;background-color:#fff;z-index: 100;}
.invoice-header .invoice-search-match-selected{background-color:#f2f2f2;}
.invoice-header .invoice-search-match li{padding-left:5px}
.invoice-header .invoice-search-match li:hover{background-color:#f2f2f2;}
.invoice-header .invoice-search-box{width:217px;height:32px;height:32px;padding-left:5px;border:solid 1px #e4e4e4 }
.invoice-header .invoice-search-btn{width:90px;height:34px;line-height:34px;text-align:center;font-size:14px;color:#fff;background-color:#32ab94}
.invoice-header .invoice-total{width:300px;height:70px;line-height:70px;background-color:#fafafa;border-radius:20px}
.invoice-header .invoice-total-color{color:#f00;font-size:14px}
.invoice-header .invoice-total-money{dislay:inline-block;margin:0 60px 0 25px}
.invoice-title{height:36px;line-height:36px;background-color:#f2f2f2;text-align: left;margin:30px 0 0;}
.invoice-title-info{color:#333;border:solid 1px #b7ecdd;border-bottom:none;text-align: left;overflow:hidden;position:relative;margin-top:20px;}
.invoice-title li{float:left;}
.invoice-title-info li{float:left;min-height:25px;padding-top:15px;padding-bottom:5px}
.invoice .invoice-balance-number{padding-left:30px;width:120px}
.invoice .invoice-balance-supplier{width:230px;padding-right:10px}
.invoice .invoice-balance-date{width:100px}
.invoice .invoice-balance-money{width:103px}
.invoice .invoice-balance-status{width:70px}
.invoice .invoice-balance-remove{width:49px;background:url(images/delete.png) no-repeat center 5px #f0fbf8;padding-top:25px;color:#32ab94;border-left:solid 1px #b7ecdd;text-align:center;cursor:pointer;height:100%;position:absolute;right:0}
.invoice table{border-collapse: collapse;text-align:center;border:solid 1px #b7ecdd;color:#333; }
.invoice table th{background-color:#fafafa;border:solid 1px #ccc;height:36px;font-weight:normal}
.invoice table td{border:solid 1px #ccc;height:36px;word-break: break-word;}
.invoice .invoice-table-width-a{width:120px}
.invoice .invoice-table-width-b{width:70px}
.invoice .invoice-table-width-c{width:200px}
.invoice .invoice-table-width-d{width:80px}
.invoice .invoice-table-width-e{width:40px}
.invoice .invoice-table-width-f{width:50px}
.invoice .invoice-btn{text-align:center;margin:40px 0 100px}
.invoice .invoice-no-content{line-height:100px;text-align:center;display:none;}
.invoice .invoice-btn .invoice-btn-one{width:160px;height:35px;line-height:35px;color:#fff;background-color:#32ab94;font-size:14px;display:inline-block;margin:0 25px}